<%= form_for(@traceable_record) do |f| %>
  <% if @traceable_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traceable_record.errors.count, "error") %> prohibited this traceable_record from being saved:</h2>

      <ul>
      <% @traceable_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Custom ID' %><br>
    <%= f.text_field :custom_id %>
  </div>
  <div class="field">
    <%= f.label :sales_order %><br>
    <%= f.text_field :sales_order %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date_shipped %><br>
    <%= f.text_field :date_shipped %>
  </div>
  <div class="field">
    <%= f.label :mfg_number %><br>
    <%= f.text_field :mfg_number %>
  </div>
  <div class="field">
    <%= f.label :mfg_serial_number %><br>
    <%= f.text_field :mfg_serial_number %>
  </div>
  <div class="field">
    <%= f.label :commas1_id %><br>
    <%= f.text_field :commas1_id %>
  </div>
  <div class="field">
    <%= f.label :installed_software_version %><br>
    <%= f.text_field :installed_software_version %>
  </div>
  <div class="field">
    <%= f.label :sim_id %><br>
    <%= f.text_field :sim_id %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
