<p id="notice"><%= notice %></p>

<h1>Listing Traceable Records</h1>

<table>
  <thead>
    <tr>
      <th>Custom</th>
      <th>Sales order</th>
      <th>Customer</th>
      <th>Item</th>
      <th>Description</th>
      <th>Date shipped</th>
      <th>Mfg number</th>
      <th>Mfg serial number</th>
      <th>Commas1 id</th>
      <th>Installed software version</th>
      <th>Sim id</th>
      <th>Ip address</th>
      <th>File Name</th>
      <th>File Upload Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traceable_records.each do |traceable_record| %>
      <tr>
        <td><%= traceable_record.custom_id %></td>
        <td><%= traceable_record.sales_order %></td>
        <td><%= traceable_record.customer %></td>
        <td><%= traceable_record.item %></td>
        <td><%= traceable_record.description %></td>
        <td><%= traceable_record.date_shipped %></td>
        <td><%= traceable_record.mfg_number %></td>
        <td><%= traceable_record.mfg_serial_number %></td>
        <td><%= traceable_record.commas1_id %></td>
        <td><%= traceable_record.installed_software_version %></td>
        <td><%= traceable_record.sim_id %></td>
        <td><%= traceable_record.ip_address %></td>
        <td><%= traceable_record.file_name %></td>
        <td><%= traceable_record.file_upload_date %></td>
        <td><%= link_to 'Show', traceable_record %></td>
        <td><%= link_to 'Edit', edit_traceable_record_path(traceable_record) %></td>
        <td><%= link_to 'Destroy', traceable_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traceable record', new_traceable_record_path %>


<%= form_for TraceRecord.new, {url: import_traceable_records_path} do |f|%>
    <%= f.file_field :file%>
    <%= f.submit 'import'%>
  <%end%>
