<p id="notice"><%= notice %></p>

<p>
  <strong>Custom ID:</strong>
  <%= @traceable_record.custom_id %>
</p>

<p>
  <strong>Sales order:</strong>
  <%= @traceable_record.sales_order %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @traceable_record.customer %>
</p>

<p>
  <strong>Item:</strong>
  <%= @traceable_record.item %>
</p>

<p>
  <strong>Description:</strong>
  <%= @traceable_record.description %>
</p>

<p>
  <strong>Date shipped:</strong>
  <%= @traceable_record.date_shipped %>
</p>

<p>
  <strong>Mfg number:</strong>
  <%= @traceable_record.mfg_number %>
</p>

<p>
  <strong>Mfg serial number:</strong>
  <%= @traceable_record.mfg_serial_number %>
</p>

<p>
  <strong>Commas1 id:</strong>
  <%= @traceable_record.commas1_id %>
</p>

<p>
  <strong>Installed software version:</strong>
  <%= @traceable_record.installed_software_version %>
</p>

<p>
  <strong>Sim id:</strong>
  <%= @traceable_record.sim_id %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @traceable_record.ip_address %>
</p>
<p>
  <strong>File Name:</strong>
  <%= @traceable_record.file_name %>
</p>
<p>
  <strong>File Upload Date:</strong>
  <%= @traceable_record.file_upload_date %>
</p>

<%= link_to 'Edit', edit_traceable_record_path(@traceable_record) %> |
<%= link_to 'Back', traceable_records_path %>
